#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.list-item {
  flex: 1 1 calc(33.333% - 16px);
  min-width: 200px;
  list-style-type: none;
}
